allYouNeedForYourRecipes/src/environments/environment.ts
allYouNeedForYourRecipes/src/environments/environment.prod.ts
allYouNeedForYourRecipes/.firebase/hosting.ZGlzdC9hbGxZb3VOZWVkRm9yWW91clJlY2lwZXM.cache
allYouNeedForYourRecipes/firebase.json
allYouNeedForYourRecipes/.firebaserc
